.button {
    -fx-font-family: "Din Alternate";
}

.label {
    -fx-font-family: "Futura";
}

.text-field {
    -fx-background-color: "Transparent";
    -fx-border-color: "white";
    -fx-border-width: 2;
    -fx-text-fill: "white";
}


.list-view .list-cell:odd {
    -fx-background-color: rgba(0,0,0,0.51);
    -fx-text-fill: "white";
    -fx-font-family: "Futura";
}

.list-view .list-cell:even {
    -fx-background-color: rgba(27,27,27,0.51);
    -fx-text-fill: "white";
    -fx-font-family: "Futura";
}

.list-view .scroll-bar:vertical {
    -fx-background-color:rgba(27,27,27,0.51);
}


.list-view .scroll-bar:vertical .thumb {
    -fx-background-color:rgba(255,255,255,0.51);
}

.list-view .scroll-bar:horizontal {
    -fx-background-color:rgba(27,27,27,0.51);
}


.list-view .scroll-bar:horizontal .thumb {
    -fx-background-color:rgba(255,255,255,0.51);
}

.text-area{
    -fx-font-family: "Futura";
    -fx-font-size: 20;
}

.text-area .scroll-bar:vertical {
    -fx-background-color:rgba(27,27,27,0.51);
}


.text-area .scroll-bar:vertical .thumb {
    -fx-background-color:rgba(255,255,255,0.51);
}

.text-area .scroll-bar:horizontal {
    -fx-background-color:rgba(27,27,27,0.51);
}


.text-area .scroll-bar:horizontal .thumb {
    -fx-background-color:rgba(255,255,255,0.51);
}
